/* CSS dataset */
.flex-nowrap-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    padding: 10px; margin: 15px;
    /* max-width: 400px; */
    flex: 0 1 280px;
    border-radius: 10px;
    text-align: center;
    background-color: #777;
    box-sizing: border-box;
    opacity: 0.8;
    &:hover{
        transform: scale(1.04);
        opacity: 1;
        box-shadow: 0px 0px 8px #333;
        transition:0.3s
    }
}
.box{
    
}

body{
    margin: 0px; padding: 0px;
    background-color: rgba(0,0,0,0.4);
}

/* Here header css code starts */

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
}
#logo{
    border-radius: 50%;
    width: 50px;
    margin: 10px 20px;
    max-width: 70px;
    
    flex: 0.2 1 20px;
    &:hover{
        transform: rotate(-6deg) scale(1.05);
        filter: drop-shadow(0px 0px 10px rgb(49, 49, 49));
        transition: 1s;
    }
}
#search{
    justify-content: center;
    margin: 5px 20px;
    padding: 3px 10px;
    flex: 1 1 100px;
    max-width: 350px;
    border: none;
    background-color: #ddd;
    border-radius: 4px;
    line-height: 35px;
    /* text-align: center; */
    font-size: 17px;
    &:hover{
        border-radius: 8px;
        /* border: 1.2px solid rgb(51, 157, 214); */
        transition: 0.2s;
        box-shadow: 4px 7px 10px #333;
        outline-offset: 0px;
        outline: 0px;
    }
    
}
#header-nav{
    /* background-color: rgba(165,241, 127,0.8); */
    padding: 5px 10px;
    margin: 5px 10px;
    flex: 1 1 200px;
    max-width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a{
        margin: 10px;
    }
}
.icons{
    height: 30px;
    width: 30px;
    margin: 5px;
    padding: 3px;
}

/* Here main html css starts */

main{
    padding: 10px;
    .promo{
        /*  */
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .outro{
        background-color: rgba(0,0,0,0.5);
        width: 100%;
    }
}

/* Here footer css starts */
.footer-card{
            max-width: 400px;
        }
footer{
    display: flex;
    flex-wrap: wrap; flex-direction: column;
    justify-content: space-between; align-items: flex-start;
    /* background-color: rgba(0, 0, 0, 0.65); */
    #footer-top{
        display: flex; flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        
        #socialLink{
            display: flex;
            flex-direction: row; flex-wrap: wrap;
            justify-content: center; align-items: center;
            & a{
                padding: 7px;
                &:hover{
                    transform: scale(1.5);
                }
                &:nth-of-type(odd){
                    color: rgb(13, 87, 199);
                }
                &:nth-of-type(even){
                    color: rgb(222, 58, 33);
                }
                &:nth-of-type(6){
                    color: rgb(20, 165, 56);
                }
            }
            
        }
    }
    #footer-base{
        background-color: aqua;
    }
    #description{
        margin: 7px auto 2px;
        font-size: 15px;
        & span{
            color: red;
        }
    }
    #copyright{
        margin: 4px auto 15px;
        font-weight: bold;
        text-align: center;
    
    }
}

